<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Akira+Expanded&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=SansSerif&display=swap" rel="stylesheet" />
    <link href="./css/main2.css" rel="stylesheet" />
    <title>SOBRE NOSOTROS</title>
</head>

<body>
    <%- include ('partials/navigation') %>
    <div class="v5_2">
        <div class="v8_15"></div>
        <div class="v14_2"></div><span class="v14_3">nosotros</span><span class="v14_9">En Lima Wave, no solo vendemos
            ropa, creamos un espacio donde la cultura urbana cobra vida. Somos un reflejo de la ciudad, de su energía,
            su gente y su actitud única. Cada prenda que ofrecemos es mucho más que una simple camiseta: es una
            declaración de estilo, una forma de conectar con la juventud y de llevar con orgullo lo que somos.
            Nuestra misión es ofrecerte polos que no solo te hagan lucir bien, sino que te permitan expresar tu esencia,
            tu historia y tu conexión con la calle. En Lima Wave, apostamos por el diseño auténtico, la calidad y la
            comodidad, porque creemos que tu ropa debe ser un lienzo donde se fusionan la estética y la personalidad.
        </span>
    </div>
</body>

</html>