<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Akira+Expanded&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=SansSerif&display=swap" rel="stylesheet" />
    <link href="./css/main3.css" rel="stylesheet" />
    <title>CATÁLOGO</title>
</head>

<body>
    <%- include ('partials/navigation') %>
    <div class="v8_17"><span class="v8_98">CATALOGO</span>
        <div class="v8_181"></div><span class="v8_185">Polo 1</span><span class="v8_186">S/.80</span>
        <div class="v8_188"></div>
        <div class="name"></div>
        <div class="v8_190"></div><span class="v8_191">Polo 2</span><span class="v8_192">S/.100</span>
        <div class="v8_193"></div>
        <div class="name"></div>
        <div class="v8_196"></div><span class="v8_197">Polo 3</span><span class="v8_198">S/.120</span>
        <div class="v8_199"></div>
        <div class="name"></div>
        <div class="v8_202"></div><span class="v8_203">Polo 4</span><span class="v8_204">S/.100</span>
        <div class="v8_205"></div>
        <div class="name"></div>
        <div class="v8_208"></div><span class="v8_209">Polo 5</span><span class="v8_210">S/.120</span>
        <div class="v8_211"></div>
        <div class="name"></div>
        <div class="v8_213"></div><span class="v8_214">Polo 6</span><span class="v8_215">S/.120</span>
        <div class="v8_216"></div>
        <div class="name"></div>
        <div class="v8_218"></div><span class="v8_219">Polo 7</span><span class="v8_220">S/.120
        </span>
        <div class="v8_221"></div>
        <div class="name"></div>
        <div class="v8_223"></div><span class="v8_224">Polo 8</span><span class="v8_225">S/.80</span>
        <div class="v8_226"></div>
        <div class="name"></div>
        <div class="v8_236"></div>
        <div class="v8_232"></div>
        <div class="v8_231"></div>
        <div class="v16_21"></div>
        <div class="v17_24"></div>
        <div class="v8_229"></div>
        <div class="v8_230"></div>
        <div class="v8_233"></div>
        <div class="v8_234"></div>
        <div class="v8_235"></div>
    </div>
</body>

</html> 