<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Akira+Expanded&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=SansSerif&display=swap" rel="stylesheet" />
    <link href="./css/main5.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <%- include ('partials/navigation') %>
    <div class="v17_87">
        <div class="v25_21"></div>
        <div class="v18_88"></div>
        <div class="v24_20"></div><span class="v25_22">PREGUNTANOS</span><span class="v25_27">Nombre:</span><span
            class="v25_29">Correo electrónico:</span><span class="v25_33">Mensaje:</span>
        <div class="v25_28"></div>
        <div class="v25_31"></div>
        <div class="v25_37"></div>
        <div class="v25_41"></div><span class="v25_42">ENVIAR</span><span class="v25_43">Copyright © 2025, LIMAWAVE.
            Todos los derechos reservados Consulte nuestras condiciones de uso y el aviso de privacidad.</span><span
            class="v25_44">Síguenos en Redes:</span>
        <div class="v25_45"></div>
        <div class="v25_46"></div>
    </div>
</body>

</html>