<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=SansSerif&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Akira+Expanded&display=swap" rel="stylesheet" />
    <link href="./css/main.css" rel="stylesheet" />
    <title>INICIO</title>
</head>
    

<body>
    <%- include ('partials/navigation') %>
    <div class="v1_2">
        <div class="v27_3"></div>
        <div class="v34_6"></div>
        <div class="v45_16"></div>
        <div class="v1_3"></div><span class="v1_4">NOSOTROS</span><span class="v1_5">CATÁLOGO</span><span
            class="v1_6">OFERTAS</span><span class="v1_7">CONTACTO</span>
        <div class="v1_8"></div>
        <div class="v1_9"></div><span class="v1_10">INICIO</span>
        <div class="v2_28"></div>
        <div class="v1_26"></div><span class="v2_27">COLLECION
            DE VERANO!</span>
        <div class="v2_29"></div><span class="v2_31">VER COLECCIÓN</span>
        <div class="v10_239"></div>
        <div class="v8_13"></div>
        <div class="name"></div>
        <div class="v16_20"></div>
        <div class="v34_8"></div>
        <div class="v45_18"></div>
    </div>
</body>

</html>