<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LimaWave</title>
    <link rel="preload" href="css/normalize.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <!--conexion a style.css-->
     <link rel="preload" href="css/style.css" as="style">
 <link href="css/style.css" rel="stylesheet" type="text/css">


</head>
<body>
    <!--Whatsapp-->
    <a class="whatsapp" href="https://wa.me/51924367021" target="_blank">
        <svg viewBox="0 0 256 259" width="40" height="40" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid"><path d="m67.663 221.823 4.185 2.093c17.44 10.463 36.971 15.346 56.503 15.346 61.385 0 111.609-50.224 111.609-111.609 0-29.297-11.859-57.897-32.785-78.824-20.927-20.927-48.83-32.785-78.824-32.785-61.385 0-111.61 50.224-110.912 112.307 0 20.926 6.278 41.156 16.741 58.594l2.79 4.186-11.16 41.156 41.853-10.464Z" fill="#00E676"/><path d="M219.033 37.668C195.316 13.254 162.531 0 129.048 0 57.898 0 .698 57.897 1.395 128.35c0 22.322 6.278 43.947 16.742 63.478L0 258.096l67.663-17.439c18.834 10.464 39.76 15.347 60.688 15.347 70.453 0 127.653-57.898 127.653-128.35 0-34.181-13.254-66.269-36.97-89.986ZM129.048 234.38c-18.834 0-37.668-4.882-53.712-14.648l-4.185-2.093-40.458 10.463 10.463-39.76-2.79-4.186C7.673 134.63 22.322 69.058 72.546 38.365c50.224-30.692 115.097-16.043 145.79 34.181 30.692 50.224 16.043 115.097-34.18 145.79-16.045 10.463-35.576 16.043-55.108 16.043Zm61.385-77.428-7.673-3.488s-11.16-4.883-18.136-8.371c-.698 0-1.395-.698-2.093-.698-2.093 0-3.488.698-4.883 1.396 0 0-.697.697-10.463 11.858-.698 1.395-2.093 2.093-3.488 2.093h-.698c-.697 0-2.092-.698-2.79-1.395l-3.488-1.395c-7.673-3.488-14.648-7.674-20.229-13.254-1.395-1.395-3.488-2.79-4.883-4.185-4.883-4.883-9.766-10.464-13.253-16.742l-.698-1.395c-.697-.698-.697-1.395-1.395-2.79 0-1.395 0-2.79.698-3.488 0 0 2.79-3.488 4.882-5.58 1.396-1.396 2.093-3.488 3.488-4.883 1.395-2.093 2.093-4.883 1.395-6.976-.697-3.488-9.068-22.322-11.16-26.507-1.396-2.093-2.79-2.79-4.883-3.488H83.01c-1.396 0-2.79.698-4.186.698l-.698.697c-1.395.698-2.79 2.093-4.185 2.79-1.395 1.396-2.093 2.79-3.488 4.186-4.883 6.278-7.673 13.951-7.673 21.624 0 5.58 1.395 11.161 3.488 16.044l.698 2.093c6.278 13.253 14.648 25.112 25.81 35.575l2.79 2.79c2.092 2.093 4.185 3.488 5.58 5.58 14.649 12.557 31.39 21.625 50.224 26.508 2.093.697 4.883.697 6.976 1.395h6.975c3.488 0 7.673-1.395 10.464-2.79 2.092-1.395 3.487-1.395 4.882-2.79l1.396-1.396c1.395-1.395 2.79-2.092 4.185-3.487 1.395-1.395 2.79-2.79 3.488-4.186 1.395-2.79 2.092-6.278 2.79-9.765v-4.883s-.698-.698-2.093-1.395Z" fill="#FFF"/></svg>

    </a>
    <header>
        <div class="logo">
        <img src="img/LogoLimaWave.png" alt="Logo de la tienda">
        </div>

        <h1 class="titulo">LIMA WAVE 
        <span>Tienda de ropa urbana</span></h1>
        
        <div class="container-user">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            >
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>
          
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            >
            <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
            <path d="M17 17h-11v-14h-2" />
            <path d="M6 5l14 1l-1 7h-13" />
            </svg>
          
          
            <div class="content-shopping-cart">
                <span class="text">Carrito</span>
                <span class="number">(0)</span>
            </div>

        </div>

    </header>
 
  


    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="#inicio">INICIO</a>
            <a href="#nosotros">NOSOTROS</a>
            <a href="#catalogo">CATALOGO</a>
            <a href="#ofertas">OFERTAS</a>
            <a href="#contacto">CONTACTO</a>                  
        </nav>
    </div>  

   
          
    <section class="hero" id="inicio">
        <div class="contenido-hero">
            <h2 class="titulo2">COLLECIÓN DE VERANO!</h2>
            <a  class="boton" href="#">Ver Catalogo</a>
        </div>
    </section>


    <section class="hero2" id="nosotros">
        <div class="contenido-hero2">
            <h3 class="titulo3">NOSOTROS</h3>
            <a class="textotitulo3">
            En Lima Wave, no solo vendemos ropa, creamos un espacio donde la cultura urbana cobra vida. Somos un reflejo de la ciudad, de su energía, su gente y su actitud única. Cada prenda que ofrecemos es mucho más que una simple camiseta: es una declaración de estilo, una forma de conectar con la juventud y de llevar con orgullo lo que somos.
            Nuestra misión es ofrecerte polos que no solo te hagan lucir bien, sino que te permitan expresar tu esencia, tu historia y tu conexión con la calle. En Lima Wave, apostamos por el diseño auténtico, la calidad y la comodidad, porque creemos que tu ropa debe ser un lienzo donde se fusionan la estética y la personalidad.
            </a>
        </div>

    </section>
   
<main class="contenedor">

    <div class="contenedor-catalogo" id="catalogo">

        <H4>CATÁLOGO</H4>

        <p>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="24" height="24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor">
            <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
        </svg>
        </p>
        </div>

        <!--catalo extra-->
        <div class="products">
            <div class="product">
                <img src="img/polo1.jpg" alt="Polo 1">
                <h3>Polo 1</h3>
                <p>S/.80</p>
            </div>
            <div class="product">
                <img src="img/polo2.jpg" alt="Polo 2">
                <h3>Polo 2</h3>
                <p>S/.100</p>
            </div>
            <div class="product">
                <img src="img/polo3.jpg" alt="Polo 3">
                <h3>Polo 3</h3>
                <p>S/.120</p>
            </div>
            <div class="product">
                <img src="img/polo4.jpg" alt="Polo 4">
                <h3>Polo 4</h3>
                <p>S/.100</p>
            </div>
            <div class="product">
                <img src="img/polo5.jpg" alt="Polo 5">
                <h3>Polo 5</h3>
                <p>S/.120</p>
            </div>
            <div class="product">
                <img src="img/polo6.jpg" alt="Polo 6">
                <h3>Polo 6</h3>
                <p>S/.120</p>
            </div>
            <div class="product">
                <img src="img/polo7.jpg" alt="Polo 7">
                <h3>Polo 7</h3>
                <p>S/.120</p>
            </div>
            <div class="product">
                <img src="img/polo8.jpg" alt="Polo 8">
                <h3>Polo 8</h3>
                <p>S/.80</p>
            </div>
        <div>



     <div class="contenedor-ofertas" id="ofertas">   
        <H4>OFERTAS</H4>

        <!--Parte2-->

        <div class="products2">
            <div class="product2">
                <img src="img/polo9.jpg" alt="Polo 9">
                <h3>Polo 9</h3>
                <p>Precio Original: S/.140</p>
                <p>Precio Descuento: S/.100</p>
                <p>Descripción: Polo verde con diseño de corazón y "LOVE".</p>
            </div>
            <div class="product2">
                <img src="img/polo10.jpg" alt="Polo 10">
                <h3>Polo 10</h3>
                <p>Precio Original: S/.120</p>
                <p>Precio Descuento: S/.70</p>
                <p>Descripción: Polo blanco con dibujo de caricatura y la palabra "FLAKKO".</p>
            </div>
            <div class="product2">
                <img src="img/polo11.jpg" alt="Polo 11">
                <h3>Polo 11</h3>
                <p>Precio Original: S/.80</p>
                <p>Precio Descuento: S/.50</p>
                <p>Descripción: Polo simple marrón.</p>
            </div>
            <div class="product2">
                <img src="img/polo12.jpg" alt="Polo 12">
                <h3>Polo 12</h3>
                <p>Precio Original: S/.120</p>
                <p>Precio Descuento: S/.80</p>
                <p>Descripción: Polo negro con el logo "Fender".</p>
            </div>
        </div>


    </div>

    <div class="contenedor-contacto" id="contacto">
        <div class="box-info">
            <H4 class="titulo 5">CONTACTO</H4>
            <div class="data5">

                <!-- Iconos-->
                <p>
                    <svg class="icono-contacto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                        <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                        <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
                    </svg>
                    Av. San Agustin #368
                </p>
                
                <p>
                    <svg class="icono-contacto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
                        <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"></path>
                        <path d="M11 4h2"></path>
                        <path d="M12 17v.01"></path>
                    </svg>
                    +51 000-000-000
                </p>
                
                <p>
                    <svg class="icono-contacto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="24" height="24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor">
                        <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                        <path d="M3 7l9 6l9 -6"></path>
                    </svg>
                    Ventaslimawave@gmail.com
                </p>

                <script>
                    function initMap() {
                        var location = {lat: -12.024, lng: -77.048}; // Coordenadas de la ubicación específica
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 18,
                            center: location
                        });
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map
                        });
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
             
            </div>
        
        </div>

    </div>
</main>

       

<!--Formulario-->
<section class="hero6">
    
    <H5 class="titulo6">PREGUNTANOS</H5>
    <form class="formulario">
        <fieldset>
            <legend> Preguntanos llenando todos los campos</legend>

            <div class="contenedor-campos">

                <div class="campo">
                    <label>Nombre</label>
                    <input class="input-text" type="text" placeholder="Tu nombre">
                </div>

                <div class="campo">
                    <label>Correo Electrónico</label>
                    <input class="input-text" type="email" placeholder="Tu correo">
                </div>

                <div class="campo">
                    <label>Mensaje</label>
                    <textarea class="input-text"></textarea>
                </div>
            </div> <!-- Contenedor-campos-->

            <div class="alinear-derecha flex">
                 <input class="boton w-100" type="submit" value="Enviar">
            </div>

        </fieldset>

    </form>
</section>



<!--Bot Marco-->
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Marco"
  agent-id="7569d993-f556-4308-81ca-f3e79f40dccd"
  language-code="es"
></df-messenger>


<!--Texto copyright-->
<FOOTER>
    <P class="textocopyright">Copyright © 2025,LIMAWAVE. Todos los derechos reservados.Consulte nuestras condiciones de uso y el aviso de privacidad.</P>
</FOOTER>

</body>
</html>
