<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Akira+Expanded&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=SansSerif&display=swap" rel="stylesheet" />
    <link href="./css/main4.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <%- include ('partials/navigation') %>
    <div class="v17_25">
        <div class="v17_30"></div>
        <div class="v17_31"></div>
        <div class="v17_35"></div><span class="v17_36">POLO 1</span><span class="v17_37">S/.40</span>
        <div class="v17_38"></div>
        <div class="v17_41"></div><span class="v17_44">Ofertas</span>
        <div class="v17_45"></div>
        <div class="v17_47"></div>
        <div class="v17_48"></div>
        <div class="v17_49"></div>
        <div class="v17_50"></div>
        <div class="v17_51"></div>
        <div class="v17_52"></div>
        <div class="v17_53"></div><span class="v17_55">Polo 9</span><span class="v17_56">S/.140</span>
        <div class="name"></div>
        <div class="name"></div><span class="v17_60">s/.100</span><span class="v17_61">Polo 10</span><span
            class="v17_62">S/.120</span>
        <div class="name"></div>
        <div class="name"></div><span class="v17_65">s/.70</span><span class="v17_67">Polo 11 </span><span
            class="v17_68">S/.80 </span>
        <div class="name"></div>
        <div class="name"></div><span class="v17_71">s/.50</span><span class="v17_73">Polo 12</span><span
            class="v17_74">S/.120</span>
        <div class="name"></div>
        <div class="name"></div><span class="v17_77">s/.80</span>
        <div class="v17_81"></div>
        <div class="v17_83"></div>
        <div class="v17_85"></div>
        <div class="v17_79"></div>
        <div class="v18_94"></div>
        <div class="v19_2"></div><span class="v19_3">+51 000-000-000</span><span class="v18_89">contacto</span><span
            class="v18_95">AV. SAN AGUSTIN 368</span>
        <div class="v18_96"></div><span class="v18_98">UBICACIÓN DE LA TIENDA:</span><span class="v19_16">UBICACIÓN EN
            MAPA:</span><span class="v18_99">NÚMERO DE CELULAR: </span><span class="v19_9">CORREO ELECTRÓNICO:</span>
        <div class="v19_6"></div><span class="v19_7">VENTASLIMAWAVE@GMAIL.COM</span>
        <div class="v19_18"></div>
        <div class="v32_4"></div><span class="v34_9">PRECIO ACTUAL:</span><span class="v34_10">PRECIO
            ACTUAL:</span><span class="v34_12">PRECIO ACTUAL:</span><span class="v34_14">PRECIO ACTUAL:</span>
    </div>
</body>

</html>