<nav class="navbar">
    <ul>
        <li>
            <a href="/">inicio</a>
            <a href="/about">Sobre Nosotros</a>
            <a href="/catalogo">Catálogo</a>
            <a href="/oferta">Ofertas</a>
            <a href="/contact">Contacto</a>
            <a href="/bot">Chatbot</a>
        </li>
    </ul>
</nav>